<!DOCTYPE html>
<html>

<head>

<style>

            #body-container {
                width: 100%;
                height: 100vh;
                background: url("matrix.jpg") center center no-repeat;
                background-size: cover;
                overflow-y: scroll;
            }
       

</style>
</head>
<body>
<div id="body-container">
<h2>Login</h2>


<form action="#" th:action="@{/login}" method="post">

  <label for="fname">First name:</label><br>
  <input type="text" id="basfid" name="basfid" value="Enter basfid"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="password" name="password" value="Enter password"><br><br>
  <input type="submit" value="Submit">
</form>
</div>
</body>
</html>
